#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select parameters.bson

param set-default SYS_AUTOSTART 4001

param import

if param greater SYS_AUTOCONFIG 0
then
	param reset_all SYS_AUTOSTART SYS_PARAM_VER CAL_* LND_FLIGHT* TC_* COM_FLIGHT*
fi

# Load the airframe defaults selected by SYS_AUTOSTART directly. The generated
# rc.autostart script performs a linear scan through all compiled airframes.
autostart_file=''
# shellcheck disable=SC2231
for f in ${R}etc/init.d/airframes/"$(param show -q SYS_AUTOSTART)"_*
do
	filename=$(basename "$f")
	case "$filename" in
		*\.*)
			# Ignore companion files such as <airframe>.post.
			;;
		*)
			autostart_file="$f"
			;;
	esac
done

if [ -e "$autostart_file" ]
then
	# shellcheck disable=SC1090
	. "$autostart_file"
else
	echo "Error: no autostart file found ($autostart_file)"
	exit 1
fi

unset autostart_file
unset filename

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281

param set-default BAT1_V_DIV 5.7

# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 2

param set IMU_GYRO_RATEMAX 800

# Serial port defaults
param set-default MAV_0_CONFIG 0 # MAVLink uses UDP by default
param set-default MSP_OSD_CONFIG 102 # TELEM2 (/dev/ttyS2)
param set-default RC_PORT_CONFIG 103 # TELEM3 (/dev/ttyS3)

# Multi-EKF
param set SENS_IMU_MODE 0
param set BAT1_SOURCE -1


dataman start -f datamanfs
load_mon start

battery_status start


sc7u22_iio start -R 10
qmc5883p -I -a 0x2c start
spa06 -I -a 0x77 start
atxxxx -s start

# Start serial drivers and prepare board-specific RC input arguments.
# shellcheck disable=SC1090
. "${R}etc/init.d/rc.serial"

# RC_INPUT_ARGS intentionally expands to separate option and device arguments.
# shellcheck disable=SC2086
rc_input start $RC_INPUT_ARGS
rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
manual_control start
mc_pos_control start
mc_att_control start
mc_rate_control start

if param greater -s MC_AT_EN 0
then
	mc_autotune_attitude_control start
fi

mavlink start -x -u 14556 -p -n all -r 1152000

flexbus_dshot start -d /dev/rk-flexbus-dshot -t
control_allocator start
logger start -t -b 200

mavlink boot_complete
